<div class="container">
  <% content_for :title, "Editing post" %>

  <h1>Editing post</h1>

  <%= render partial: "customer/posts/form", locals: { post: @post } %>

  <br>

  <div>
    <%= link_to "Back to posts", customer_posts_path %>
  </div>
</div>